.app.dark {
  --bg-color: #3434dc;
  --invert-bg-color: #30305a;
  --primary-color: #39a739;
  --secondary-color: rgb(101 226 101);
  --inverted-primary-color: #4396f6;
  --inverted-secondary-color: rgb(143 170 243);
}
