.app.light {
  --bg-color: #f0f0f8;
  --invert-bg-color: #4534de;
  --primary-color: #4396f6;
  --secondary-color: rgb(143 170 243);
  --inverted-primary-color: #39a739;
  --inverted-secondary-color: rgb(101 226 101);
}
